.page {
  min-height: 100vh;
  display: flex;
  padding: 30px;

  &__title {
    animation-name: show-title;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    color: #fff;
    text-transform: uppercase;
    align-self: center;
    font-size: 4rem;
    @media only screen and (max-width: 420px) {
      font-size: 2.5rem;
    }
  }

  &__center {
    align-self: center;
    width: 100%;
    text-align: center;
  }

  &_bg_blurable {
    background-image: url("./bg.svg");
    background-color: hsl(231, 100%, 79%);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
  }
}

@keyframes show-title {
  from {
    transform: translateX(-120%);
  }
  to {
    transform: translateX(0);
  }
}

.page-1 {
  background-color: hsl(231, 100%, 79%);
}

.page-2 {
  background-color: hsl(145, 100%, 79%);
}

.page-3 {
  background-color: hsl(99, 100%, 79%);
}

.picker_page {
  position: fixed;
  width: 100%;
  bottom: 15px;
  background: none;
  display: flex;
  justify-content: center;
}

.picker__item {
  outline: none;
  margin: 4px;
  opacity: 0.6;
  background: none;
  border: none;
  border: 2px solid #fff;
  border-radius: 50%;
  padding: 5px;

  &_active {
    background-color: #fff;
  }
}
