*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-size: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
$bg-border: rgba(0, 0, 0, 0.7);
$bg-default: #33363d;
$color-primary: #f44336;
$color-accent: #00bcd4;
$color-dark: #d32f2f;
$color-shade: rgba(0, 0, 0, 0.5);
$color-light: #ffcdd2;
$color-divider: #bdbdbd;
$color-text: #ffffff;
$text-primary: #ffffff;
$text-secondary: #757575;

$header-height: 60px;

$gap: 10px;

$space-m: 20px;

@mixin grid__item-xl_3 {
  @media (min-width: 1280px) {
    grid-column: span 3;
  }
}
@mixin grid__item-xl_9 {
  @media (min-width: 1280px) {
    grid-column: span 9;
  }
}

@mixin grid__item-m_6 {
  @media (min-width: 421px) and (max-width: 720px) {
    grid-column: span 6;
  }
}

@mixin grid__item-l_4 {
  @media (min-width: 721px) and (max-width: 1279px) {
    grid-column: span 4;
  }
}

@mixin grid__item-l_8 {
  @media (min-width: 721px) and (max-width: 1279px) {
    grid-column: span 8;
  }
}

@mixin grid__item-s_12 {
  @media (max-width: 420px) {
    grid-column: span 12;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: $gap $gap;

  &__item_default {
    @include grid__item-xl_3;
    @include grid__item-m_6;
    @include grid__item-l_4;
    @include grid__item-s_12;
  }
}

.p-t_m {
  padding-top: $space-m;
}

.p-t_head {
  padding-top: $header-height;
}

.w-70 {
  width: 70%;
  margin: auto;
  @media only screen and (max-width: 420px) {
    width: 90%;
  }
}

.h1 {
  color: $color-text;
  font-size: 3rem;
}

@mixin text {
  font-size: 1.5rem;
}

.text {
  &_primary {
    @include text;
    color: $text-primary;
  }

  &_secondary {
    @include text;
    color: $text-secondary;
  }

  &_center {
    text-align: center;
  }
}

body {
  background-color: $bg-default;
}

.flex {
  display: flex;
}

.container {
  background-color: $bg-default;
  width: 100%;
  min-height: 100vh;
  position: relative;
}
